@CHARSET "ISO-8859-1";

body {
	background-image: url("../image/bg3.jpg");
	font-size: 16px;
}

form {
	margin: 0 auto;
	background: rgba(255,255,255,0.8);
	width: 60%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	font-family: lato;
	position: relative;
	color: #333;
}

h1 {
	padding: 15px 5px;
	color: #FF6700;
	font-size: 1.6em;
	font-weight: 600;
	border-radius: 10px 10px 0 0;
}

* {
	margin: 0;
	padding: 0;
}

#wrapper{
	width: 900px;
	margin: 10px 
}

#tabs{
	width: 800px
}

#tabs ul li{
	float: left;
	background:  #0067FF;
	padding: 4px 10px;
	margin-right: 3px;
	list-style: none inside;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	cursor: pointer;
	color: white;
}

#tabs ul li.active{
	background: #eee repeat-x bottom; 
	padding-bottom: 6px;
	color: #111111;
}

#tabs div.content{
	clear: both;
	border: 1px solid  #0067FF;
	padding: 10px;
	margin-bottom:5px;
}

#tabs div.hide{
	display: none
}

button{
	border: none;
	border-radius: 3px;
	width: 80px;
	height: 25px;
	color: white;
	font-size: 15px;
	background:  #0067FF;
	margin-right: 10px;
}

table tr td{
	font-family: lato;
	font-size: 15px;
	padding: 3px;
}

input.background {
	background-color: #eee;
}

input, select{
	border: 1px solid  #0067FF;
	border-radius: 3px;
	height: 25px;
	-webkit-box-shadow: inset 0px 0px 2px 0px #0067FF;
	-moz-box-shadow: inset 0px 0px 2px 0px #0067FF;
	box-shadow: inset 0px 0px 2px 0px #0067FF;
}

textarea{
	border: 1px solid  #0067FF;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 2px 0px #0067FF;
	-moz-box-shadow: inset 0px 0px 2px 0px #0067FF;
	box-shadow: inset 0px 0px 2px 0px #0067FF;
}

.error {
	color: red;
}
