/* frame address lookup */
.frame_contact{
	margin: 0 auto;
	width: 700px;
    border: 2px solid #0067FF;
	border-radius: 2px;
	border-collapse: collapse;
	box-shadow: 2px 2px 2px grey;
	background-color:white;
}

.header{
	padding: 10px 0px 15px 20px;
	background: #0067FF;
	position: relative;
	top:-2px;
}

/* align table search */
#table_search{
	border-collapse: collapse;
    width: 100%;
    overflow-x:auto;
}

#table_search th{
	position:relative;
	top:0px;
	background-color:#0067FF;
	color:white;
	padding:5px 6px;
}

.search {
	padding: 8px 15px;
	border: 0px solid #dbdbdb;
	position: relative;
	left: -5px;
}

.search input[type="text"] {
	width: 280px;
	height: 26px;
	float: left;
}

#button{
	background: none;
	font: 18px Arial, sans-serif;
	float: left;
	position: relative;
	left: -47px;
	top: 2px;
}

#button:HOVER{
	background-color: white;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 103, 255, 1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 103, 255, 1);
	box-shadow: 0px 0px 3px 0px rgba(0, 103, 255, 1);
}

#bo{
	border: none;
	border-collapse: collapse;;
}

/* button */
#wbutton{
	font-weight: bold;
	color: white;
	background-color: #0067FF;
	font: 18px Arial, sans-serif;
	float: inherit;
	position: relative;
	left: 5px;
}

#wbutton:HOVER{
	color: #0067FF;
	background-color: white;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 103, 255, 1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 103, 255, 1);
	box-shadow: 0px 0px 3px 0px rgba(0, 103, 255, 1);
}

#img{
	width: 25px;
	height: 25px;
}

/* align for table address_lookup */
#table_contact{
/* 	border: 0.5px solid #0067FF; */
	border-collapse: collapse;
	width: 50%;
	margin-left:5px;
	
}

.body{
	overflow: scroll;
	height: 100px;
}

#table_contact th{
/* 	border: 0.2px solid black; */
	border-collapse: collapse;
	border-color:white;
	background-color:#0067FF;
	color:white;
}

#table_contact th, td {
/*     padding: 8px; */
    text-align: left;
}

#table_contact tr:hover{
	background-color:#4d95ff;
}

#table_contact tr:nth-child(even):hover{
	background-color:#4d95ff;
}

#table_contact tr:nth-child(even){
	background-color: #b1d0ff;
}

/* align cell in table 's view address */
.wcell1{
	width:210px;
	word-wrap: break-word;
}

.wcell2{
	width:120px;
	word-wrap: break-word;
}

