
body {
  background-image: url("bg3.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
form {
  background: rgba(255,255,255,0.8);
  width: 60%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  font-family: lato;
  position: relative;
  color: #333;
  border-radius: 10px;
  margin: 20px auto;
}
h1 {
  background: rgba(255,255,255,0.8);
  padding: 15px 5px;
  color: #FF6700;
  font-size: 1.6em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}
* {
margin: 0;
padding: 0;
}

#wrapper{
width: 900px;
margin: 10px 

}
#tabs{
width: 800px

}
#tabs ul li{
float: left;
background:  #0067FF;
padding: 4px 10px;
margin-right: 3px;
list-style: none inside;
-webkit-border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
cursor: pointer;
color: white;
}
#tabs ul li.active{
background: #eee repeat-x bottom; 
padding-bottom: 6px;
color: #111111;
}
#tabs div{
clear: both;
background: rgba(255,255,255,0.8);
border: 1px solid  #0067FF;
padding: 10px
}
#tabs div.hide{
display: none
}
button{
	border: none;
	border-radius: 5px;
	width: 80px;
	height: 25px;
	color: white;
	font-size: 15px;
	background:  #0067FF;
	margin-right: 10px;
}
table tr td{
font-family: lato;
font-size: 15px;
padding: 3px;
}
input.background {
background-color: #eee;
}
input, select{
	border: 1px solid  #0067FF;
	border-radius: 5px;
	height: 25px;
	-webkit-box-shadow: inset 0px 0px 2px 0px #0067FF;
	-moz-box-shadow: inset 0px 0px 2px 0px #0067FF;
	box-shadow: inset 0px 0px 2px 0px #0067FF;
	width: 170px;
}
textarea{
	border: 1px solid  #0067FF;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 2px 0px #0067FF;
	-moz-box-shadow: inset 0px 0px 2px 0px #0067FF;
	box-shadow: inset 0px 0px 2px 0px #0067FF;
}

input[type="checkbox"]{
	width: 30px;
	height: 15px;
}

fieldset{
  margin: 10px;
  border: 1px solid #0067FF;
}

a{
  text-decoration: none;
  color: #0067FF;
}

#footer{
  text-align: right;
  margin: 10px;
}

#footer p{
float:left;
font-size: 1em;
}