@CHARSET "ISO-8859-1";

body {
	background-image: url("../image/bg3.jpg");
	font-size: 16px;
}

form {
	margin: 0 auto;
	background: rgba(255,255,255,0.8);
	width: 60%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	font-family: lato;
	position: relative;
	color: #333;
}

h1 {
	padding: 15px 5px;
	color: #FF6700;
	font-size: 1.6em;
	font-weight: 600;
	border-radius: 10px 10px 0 0;
}

* {
	margin: 0;
	padding: 0;
}

#wrapper{
	width: 900px;
	margin: 10px 
}

#tabs{
	width: 800px
}

#tabs ul li{
	float: left;
	background:  #0067FF;
	padding: 4px 10px;
	margin-right: 3px;
	list-style: none inside;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	cursor: pointer;
	color: white;
}

#tabs ul li.active{
	background: #eee repeat-x bottom; 
	padding-bottom: 6px;
	color: #111111;
	font-weight: bold;
}

#tabs div.content{
	clear: both;
	border: 1px solid  #0067FF;
	padding: 10px;
	margin-bottom:5px;
}

#tabs div.hide{
	display: none
}

a.bt{
	background-color: #0067FF;
	color: white;
	font-style: normal;
	font-weight: bold;
	border: 1px solid #0067FF;
	border-radius: 3px;
	margin-right: 10px;
	weight: 10px;
	padding: 4px 20px 4px 20px;
}

a.bt:hover {
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 102, 255,0.75);
	-moz-box-shadow: 0px 0px 2px 2px rgba(0, 102, 255,0.75);
	box-shadow: 0px 0px 2px 2px rgba(0, 102, 255,0.75);
}

a.bt:ACTIVE {
	background-color: white;
	color: #0067FF;
}

table tr td{
	font-family: lato;
	font-size: 15px;
	padding: 3px;
}

button{
	border: none;
	border-radius: 3px;
	width: 80px;
	height: 25px;
	color: white;
	font-size: 15px;
	background:  #0067FF;
	margin-right: 10px;
}

a.button:ACTIVE {
	background-color: white;
	color: #0067FF;
}

table tr td{
	font-family: lato;
	font-size: 15px;
	padding: 3px;
}

input.background {
	background-color: #eee;
}

input, select{
	border: 1px solid  #0067FF;
	border-radius: 3px;
	height: 25px;
	-webkit-box-shadow: inset 0px 0px 2px 0px #0067FF;
	-moz-box-shadow: inset 0px 0px 2px 0px #0067FF;
	box-shadow: inset 0px 0px 2px 0px #0067FF;
}

textarea{
	border: 1px solid  #0067FF;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 2px 0px #0067FF;
	-moz-box-shadow: inset 0px 0px 2px 0px #0067FF;
	box-shadow: inset 0px 0px 2px 0px #0067FF;
}

.error {
	color: red;
}

.sort {
	margin: 5px 0 5px 0;
	padding: 5px 0 5px 0;
}

.sort span {
	margin-right: 2px;
}

.sort a {
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
	font-size: 15px;
	color: #0067FF;
	padding: 5px 8px 5px 8px;
}

.sort a:hover {
	background-color: #FF6700;
	color: white;
}

a.btn_1 {
	background-color: #FF6700;
	color: white;
	
	border: 1px solid #FF6700;
	border-radius: 3px;
}

a.btn_1:hover {
	-webkit-box-shadow: 0px 0px 2px 2px rgba(255,103,0,0.75);
-moz-box-shadow: 0px 0px 2px 2px rgba(255,103,0,0.75);
box-shadow: 0px 0px 2px 2px rgba(255,103,0,0.75);
}

a.btn_1:ACTIVE {
	background-color: white;
	color: #FF6700;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table tr th {
	border: 1px solid #0067FF;
	color: white;
	padding: 8px;
}

table tr td {
	padding: 5px;
	color: #333;
}


div.page {
	margin: 5px 0 5px 0;
	padding: 5px 0 5px 0;
}

div.page .btn_page {
	padding: 5px 10px 5px 10px;
	background-color: #0067FF;
	color: white;
	border-radius: 3px;
	text-decoration: none;
}

div.page .btn_page:hover {
	background-color: #FF6700;
}

.in-activehide{
	display: none;
}