@CHARSET "UTF-8";

.bg {
	background: url("../image/bg3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.login-form {
	margin: 0 auto 0 auto;
	background: rgba(255,255,255,0.8);
	font: 20px Arial, sans-serif;
	width: 420px;
}

.form div {
	margin: 15px 20px 15px 20px;
}

.header {
	padding: 20px 10px 20px 10px;
}

.header h2{
	margin: 0 auto;
	font-size: 30px;
	color: white;
}

.forgot, .back {
	text-decoration: none;
	font-style: italic;
	font-size: 16px;
	color: white;
}

.forgot:hover , .back:hover {
	text-decoration: underline;
}

input {
	height: 40px;
	width: 100%;
	font-size: 16px;
}

input[type="submit"] {
	width: 160px;
}

.error {
	font-style: italic;
	font-size: 14px;
	color: red;
}

.success {
	font-style: italic;
	font-size: 14px;
	color: #00A800;
}
