body {
	font: 16px Arial, sans-serif;
	margin: 0 auto;
	color: #333;
}

.bg {
	background: url("../image/bg3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.box-shadow {
	-webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
}

/* HEADER */

#banner {
	width: 100%;
	background: rgba(255, 255, 255, 0.85);
	display: table;
	border-bottom: 4px solid #0067FF;
}

.banner-main {
	margin: 5px 20px;
}

/* END HEADER */

/* TABLE LAYOUT */

#layout {
	width: 1000px;
}

#layout tr td {
	padding: 5px;
}

/* END TABLE LAYOUT */

/* MENU */
#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    -webkit-box-shadow: 0 0 5px 1px #787878;
    border-bottom: 4px solid #0067FF;
    border-top: 4px solid #0067FF;
}

#menu ul li {
	position: relative;
	border-top: 1px solid #ccc;
}

#menu li a {
    display: block;
    color: #333;
    padding: 16px 16px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

/* Change the link color on hover */
#menu li a:hover {
    background-color: #FF6700;
    color: white;
}

#menu li.home {
	background-color: #0067FF;
	border-top: 0;
}

#menu li.home a {
	color: white;
}

#menu .sub-menu {
	position: absolute;
	left: 252px;
	top: 0;
	display: none;
	width: 300px;
}

#menu li:hover .sub-menu{
	display: block;
}

/* END MENU */

/* MAIN PAGE */

.container {
	width: 1000px;
	margin: 10px auto;
}

.main {
	width: 100%;
	background: rgba(255, 255, 255, 0.85);
	border-radius: 8px;
	padding: 20px 0;
	border-bottom: 4px solid #0067FF;
}

.main {
	box-shadow: 0 0 5px 1px #787878;
	border-radius: 5px;
} 

.content {
	margin: 0 20px;
}

/* END MAIN PAGE */

#menu, .main {
	transition: 0.3s;
}
