@CHARSET "UTF-8";

body {
	font: 16px Arial, sans-serif;
	margin: 0 auto;
}

.container {
	display: table;
	width: 100%;
}

.vertical-middle {
	display: table-cell;
	vertical-align: middle;
	height: 90vh;
}

.main {
	border: 1px solid #FF004F;
	border-radius: 10px;
}

input {
	border: 1px solid #FF004F;
}

input[type="button"], input[type="submit"] {
	font-size: 14px;
	font-weight: bold;
	color: white;
	background-color: #FF004F;
	font: 16px Arial, sans-serif;
}

input[type="button"], input[type="submit"]:hover {
	color: #FF004F;
	background-color: white;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(255,0,79,1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(255,0,79,1);
	box-shadow: 0px 0px 3px 0px rgba(255,0,79,1);
}

input[type="text"], input[type="password"] {
	font-size: 14px;
	text-align: center;
}

input:focus {
	-webkit-box-shadow: 0px 0px 3px 0px rgba(255,0,79,1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(255,0,79,1);
	box-shadow: 0px 0px 3px 0px rgba(255,0,79,1);
}

.box-shadow {
	-webkit-box-shadow: 0px 0px 8px 1px rgba(255,0,79,1);
	-moz-box-shadow: 0px 0px 8px 1px rgba(255,0,79,1);
	box-shadow: 0px 0px 8px 1px rgba(255,0,79,1);
}

.header-background {
	background: rgba(255, 93, 177, 1);
	background: -moz-linear-gradient(top, rgba(255, 93, 177, 1) 0%,
		rgba(239, 1, 124, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 93, 177
		, 1)), color-stop(100%, rgba(239, 1, 124, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 93, 177, 1) 0%,
		rgba(239, 1, 124, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 93, 177, 1) 0%,
		rgba(239, 1, 124, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 93, 177, 1) 0%,
		rgba(239, 1, 124, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 93, 177, 1) 0%,
		rgba(239, 1, 124, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1',
		endColorstr='#ef017c', GradientType=0);
}